
.map {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.searchArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.onlySearch{
  display: flex;
  align-items: center;
}

.onlyDestination{
  margin-left: 95px;
}

.searchBar{
  font-family: Arial, Helvetica, sans-serif;
  width: 550px;
  padding: 10px;
}

.locate {
  width: 45px;
  height: 45px;
  margin: 25px;
  background-color: white;
  border-radius: 8px;
  border-color: black;
}

.locate:hover{
  background-color: black;
  color: white;
}

.compass{
  width: 30px;
  height: 30px;
}

.comboboxPop{
  background-color: #495867;
}

.comboboxList{
  list-style:none;
  color: #495867;
}

.comboboxOption{
  background-color: #495867;
  color: white;
  width: 100%;
  padding: 13px;
}

.comboboxOption:hover{
  color: black;
}

/* DriverMaps CSS */
.driverInfo{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.driverSummary{
  margin-top: 15px;
  margin-bottom: 40px;
}

.driverSpan{
  font-size: 20px;
  font-weight: bold;
}

.transitOptions{
  margin-top: 20px;
  padding: 5px;
}

.adp-directions{
  display: flex;
  justify-content: center;
}




