.form {
  display: flex;
  flex-direction: row;
  border-top: 2px solid black;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 5%;
  height: 100%;
  width: 80%;
  font-size: 1.2em;
  border: 2px solid #D3D3D3;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {

  .sendButton {
    
  }

}